.products {
  width: 80%;
  margin: 50px auto;
}
.products__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: YS Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.products__list {
  list-style: none;
  padding: 0;
  margin: 15px 0 20px;
  display: flex;
  gap: 8px;
  overflow-y: hidden;
}

.products__link {
  text-decoration: none;
  color: #fff;
  font-family: YS Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (min-width: 1100px) {
  .products__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 42px;
  }
  .products__list {
    gap: 16px;
  }
}
