.product__card {
  width: 177px;
  height: 329px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  background-color: #fff;
  border-radius: 11px;
  gap: 10px;
}
.product__fav-icon {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.product__img-link {
  align-self: center;
  margin-top: 11px;
}
.product__img {
  display: block;
  height: 140px;
}
.product__container {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
.product__price-container {
  margin-left: 12px;
}
.product__price {
  padding: 0;
  margin: 0;
  font-family: YS Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.product__price_strong {
  white-space: pre;
  position: relative;
  display: inline-block;
}
.product__price_strong:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 45%;
  color: #fc5230;
  width: 100%;
  height: 0;
  border-bottom: 2px solid red;
  transform: rotate(-9deg);
}

.product__price_color_red {
  color: #fc5230;
}
.product__price_color_grey {
  color: #8a8784;
}
.product__discont-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product__discount {
  color: #fff;
  font-family: YS Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  background-color: #fc5230;
  border-radius: 4px;
  padding: 1px 0;
  width: 30px;
}

.product__xs-plus {
  margin: 0;
  font-family: YS Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #d915a9;
  margin-top: 5px;
}
.product__xs-plus-img {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.product__discription {
  margin: 5px 12px;
  font-family: YS Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.product__button {
  display: inline-block;
  width: 128px;
  padding: 10px 12px;
  align-self: center;
  margin-bottom: 11px;
  border: none;
  background-color: #fc0;
  border-radius: 4px;
  color: #222;
  font-family: YS Text;
  font-size: 13.116px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.99px;
  letter-spacing: 0.281px;
  cursor: pointer;
}
